---
layout: default
title: Socrata Connectors
bodyclass: homepage
---

<h1>Socrata ETL Starter Templates</h1>

<p>To help you get started with your <code data-toggle="tooltip" title="Extract, Transform, and Load">ETL</code> project, we've provided these helpful templates, pre-built workflows, and guides for a number of differet platforms.</p>

<!--<h2>Socrata Connector Services</h2>

<p>Socrata Connector Services are Socrata-managed, cloud-hosted services that automatically to keep data from the third-party services you make use of in sync with datasets on your <a href="http://www.socrata.com">Socrata Platform</a>. All you need to do is work with our customer success team to provide connection information, and the rest will happen automatically. Many of them will even make sure your data is pre-formatted for use in one of Socrata's best-in-breed applications.</a>

{% include listing.html type='service' %}-->

<h2>ETL Templates &amp; Tools </h2>

<p>To help you get started, we've also provided a number of pre-built ETL templates for common use cases. Starting from these templates, you can build out your own self-hosted workflows customized to your particular needs.</p>

<p><strong>NOTE:</strong> these are Safe FME templates. Find more information on getting started with <a href="http://dev.socrata.com/connectors/safe-fme.html">FME and Socrata here</a>.</p>

{% include listing.html type='template' %}

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });
</script>

