<ul class="repositories">
  {% for listing in site.pages %}
    {% if listing.type == include.type %}
      <li class="component repo">
        <h3 class="name"><a href="{{ site.root }}{{ listing.url }}"><i class="fa fa-fw {{ listing.icon }}"></i>{{ listing.title }}</a></h3>

        <ul class="contributors"></ul>

        <div class="body">
          <p class="description">{{ listing.description }}</p>

          <ul class="meta">
            {% if platform_link %}<li><em>Platform:</em> {{ platform_link }}</li>{% endif %}
          </ul>

          <div class="links btn-group">
            <button class="btn btn-default"><a href="{{ site.root }}{{ listing.url }}" class="details"><i class="fa fa-info-circle"></i> Details</a></button>
            {% if listing.download_url %}<button class="btn btn-default"><a onclick="var that=this;_gaq.push(['_trackEvent','Download','fmwt',this.href]);setTimeout(function(){location.href=that.href;},400);return false;" href="{{ listing.download_url }}" class="docs"><i class="fa fa-cloud-download"></i> Download</a></button>{% endif %}
            {% if listing.github_url %}<button class="btn btn-default"><a href="{{ listing.github_url }}" class="github"><i class="fa fa-github"></i> Github</a></button>{% endif %}
            {% if listing.bugs_url %}<button class="btn btn-default"><a href="{{ listing.bugs_url }}" class="issues"><i class="fa fa-exclamation-circle"></i> Issues</a></button>{% endif %}
          </div>
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
